<div class="feedback-page app-page">

    <div class="page-header">
        <h1>Thanks for your order!</h1>
    </div>

    <div class="container mt-4">

        <h4>Order Summary</h4>
        <div class="order-summary-list">
            <div class="order-grid">
                <% @cart_props[:items].each do |item| %>
                <span class="order-item"><%= "#{item.title} x#{item.quantity}" %></span>
                <span class="order-price"><%= "$#{item.dollars}" %></span>
                <% end %>
            </div>
            <div class="order-paid-badge"><span>Paid!<span></div>
        </div>


        <span class="scroll-indicator">
            <i class="material-icons">keyboard_arrow_down</i>
        </span>

        <div class="order-total-gratuity">
            <div class="left-cell">
                <p><%= "$#{@cart_props[:total]} + $#{@cart_props[:gratuity]} (Tip)" %>
                </p>
            </div>
            <div><i class="material-icons">chevron_right</i></div>
            <div class="right-cell"><%="$#{@cart_props[:total] + @cart_props[:gratuity]}" %></div>
        </div>

        <div class="text-center mt-2">
            <p>Enjoy your ordering experience?</p>
            <button type="button" class="btn btn-raised btn-success btn-lg">Recommend Us</button>
        </div>

        <form class="payment-method-form">
            <label class="rad">
                <input type="radio" name="rad1" value="apple_pay">
                <i class="fab fa-cc-apple-pay"></i>
            </label>
            <label class="rad">
                <input type="radio" name="rad1" value="paypal">
                <i class="fab fa-cc-paypal"></i>
            </label>
            <label class="rad">
                <input type="radio" name="rad1" value="credit_card">
                <i class="fas fa-credit-card"></i>
            </label>
            <label class="rad">
                <input type="radio" name="rad1" value="cash">
                <i class="fas fa-money-bill-wave"></i>
            </label>
        </form>


        <form class="bmd-form-group payment-split-settings">
            <!-- bmd-collapse-inline pull-xs-right"> -->
            <div class="switch">
                <label>
                    <input type="checkbox" for="search" data-toggle="collapse" data-target="#collapse-search"
                        aria-expanded="false" aria-controls="collapse-search">
                    Split the bill?
                </label>
            </div>
            <span id="collapse-search" class="collapse">
                <input class="form-control" type="text" id="search" placeholder="Copayer's email">
            </span>
        </form>

    </div>

    <div class="page-footer container">
        <hr class="footer-divider">

        <span class="order-total">
            <h2 class="order-total-text">Total</h2>
            <h2 class="order-total-amount">$<%= @cart_props[:total] %></h2>
        </span>

        <span class="order-buttons btn-group-lg">
            <button type="button" class="btn btn-raised btn-secondary">Back</button>
            <button type="button" class="btn btn-raised btn-success">Make Payment</button>
        </span>
    </div>
</div>

<script>
    // Determines if the passed element is overflowing its bounds,
    // either vertically or horizontally.
    // Will temporarily modify the "overflow" style to detect this
    // if necessary.
    // https://stackoverflow.com/questions/143815/determine-if-an-html-elements-content-overflows
    function checkOverflow(el) {
        var curOverflow = el.style.overflow;

        if (!curOverflow || curOverflow === "visible")
            el.style.overflow = "hidden";

        var isOverflowing = el.clientWidth < el.scrollWidth ||
            el.clientHeight < el.scrollHeight;

        el.style.overflow = curOverflow;

        return isOverflowing;
    }

    document.addEventListener('DOMContentLoaded', (_event) => {
        const list = document.querySelector('.order-summary-list');
        if (checkOverflow(list.querySelector('.order-grid'))) {
            console.log('im visible');
            document.querySelector('.scroll-indicator').classList.toggle('is-visible');
            list.classList.toggle('.has-overflow');
        } else {
            // hr only visible if no overflow (gradient provides boundary when overflow)
            document.querySelector('.order-summary-divider').classList.toggle('is-visible');
        }
    });
</script>