<div class="card">
    <div class="card-header">
        <strong>Order</strong>
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>

        <div class="d-flex">
            <div>
            <% order.order_items.each do |orderitem| %>
            <ul>
                <li>
                    <%= orderitem.item.name%> x <%= orderitem.quantity %></p>
                </li>
            </ul>
            <% end %>

            <%= link_to 'Mark as ready', { order_id: order.id, kitchen_status: 'ready' }, { method: :patch, remote: true, class: "btn btn-primary btn-raised" } %>
            <%= link_to 'Mark as served', { order_id: order.id, kitchen_status: 'served' }, { method: :patch, remote: true, class: "btn btn-primary" } %>
            <%= link_to 'Cancel', { order_id: order.id, kitchen_status: 'cancelled' }, { method: :patch, remote: true, class: "btn btn-warning" } %>
            </div> 
            <div class="order-data" data-order-id='<%= order.id %>'>
                <p>Kitchen status: <span class="kitchen-status"><%= order.kitchen_status %></span></p>
                <p>Transaction status: <span class="transaction-status"><%= order.transaction_status %></span></p>
            </div>
        </div>
    </div>
</div>