<!-- <div class="header-image" style="background-image: url('https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');   background-size: cover;"> -->
<div class="restaurant-header">
          <p>Welcome to<strong> <%= @restaurant.name %></strong></p>
    </div>
</div>
<div class="header-image" style="background-image: url('<%= cl_image_path @restaurant.image %>');   background-size: cover;">
  </div>

</div>
<!-- TAPES  -->
<div class="container-wrapper">
    <div class="navbar-mainpage">
        <div class="navbar-left">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Drinks</a>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applepay">
                    <i class="fas fa-search"></i>
                </button> -->
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <!-- Food content Tab -->
            <hr>
            <h4>Appetizer:</h4>
            <div class="cart-content">
                <% @appetizer.each do |n| %>
                <%= link_to order_item_path(@order, n) do %>
                <div class="card-trip">
                    <%= cl_image_tag n.image %>
                    <div class="card-trip-infos">
                        <div>
                            <h2>
                                <%= n.name %>
                            </h2>

                        </div>
                        <h2 class="card-trip-pricing">£
                            <%= n.price %>
                        </h2>
                        <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
                    </div>
                </div>
                <% end %>
                <% end %>
            </div>
            <h4>Main Dishes:</h4>
            <% @food.each do |n| %>
            <%= link_to order_item_path(@order, n) do %>
            <p>
                <%= n.name %>
            </p>
            <% end %>
            <% end %>
            <h4>Desserts:</h4>
            <% @dessert.each do |n| %>
            <%= link_to order_item_path(@order, n) do %>
            <p>
                <%= n.name %>
            </p>
            <% end %>
            <% end %>
        </div>
        <hr>
        <!-- END: Food content Tab -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <!-- Drinks content Tab -->
            <div class="cart-content">
                <% @drink.each do |n| %>
                <%= link_to order_item_path(@order, n) do %>
                <div class="card-trip">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                    <div class="card-trip-infos">
                        <div>
                            <h2>
                                <%= n.name %>
                            </h2>

                        </div>
                        <h2 class="card-trip-pricing">£
                            <%= n.price %>
                        </h2>
                        <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
                    </div>
                </div>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <p>----------------</p>
    <h2>Order:</h2>
    <p>
        <%= @order   %>
    </p>
    <h3>Order ID:</h3>
    <p>
        <%= @order.id   %>
    </p>
    <h3>Restaurant:</h3>
    <p>
        <%= @restaurant   %>
    </p>
    <p>----------------</p>
    <h2>Restaurant Name:</h2>
    <%= @restaurant.name  %>
    <%= @items %>
    <%= @table  %>
</div>
