<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/36197ad289.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>FoodStream</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= favicon_link_tag %>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <%= javascript_include_tag 'application'%>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>

<body>

  <!-- for anything in kitchens controller; render this specific navbar -->
  <% if params[:controller]== 'kitchens' %>
  <%= render 'kitchens_navbar'  %>
  <% end %>

  <%= yield %>


  <%= javascript_pack_tag 'application' %>

</body>

</html>
